<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 信管问答社区 - hnb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--导航栏-->
<div th:replace="navigation :: nav"></div>

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>出错了！！！</h1>
        <p th:text="${message}">服务器太热了，你稍等在试试</p>
        <p>
            <button onclick="window.location.href='/'" type="button" class="btn btn-zhihu" style="width: 100px;height: 40px">
                回到首页
            </button>
        </p>
    </div>
</div>

</body>
</html>