<!--导航栏的HTML，th:replace-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle 信管交流社区</span>
                </button>
                <a class="navbar-brand" style="color: #0084FF;font-size: xx-large;font-weight: bolder" href="/">Herb</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" style="font-weight: bolder;font-size: large">首页</a>
                    </li>
                </ul>
                <form class="navbar-form  navbar-btn navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" style="width: 300px;" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-zhihu" style="width: 70px;">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <button onclick="window.location.href='publish'" type="button" class="btn btn-zhihu" style="width: 100px;margin:7px 100px;">
                            我想提问
                        </button>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.userName}"></span>
                            <span class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的主页</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="/login">你现在还是蒙面大侠，请登录</a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="/register">注册</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
</div>

</body>
